<div style="text-align: center; padding-top: 6px">
  {{{ logo }}}
</div>
<div style="padding-left: 6px">
  <h2>
       <strong>Olá {{ courier }}</strong>
    </h2>
    <p>Você tem um novo cancelamento. Confira os detalhes abaixo</p>
  <p>
    <strong>Destinatário:</strong> {{ recipient }} <br />
  <br />
    <strong>Motivo: </strong> {{ problem }}
  <br />
  <br />
</div>
